<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="navbar">
      <mat-toolbar class="nav">
        <img src="/assets/img/royal-bank-o.png" />
        <span><a routerLink="/" routerLinkActive="active">Credit Card</a></span>
        <span><a routerLink="/loan" routerLinkActive="active">Loan</a></span>
      </mat-toolbar>
    </div>
  </body>
</html>
