<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <app-navbar></app-navbar>
    <div class="maincontainer">
      <div class="container1">
        <div class="bg">
          <div class="info">
            <h3>Loan With Great Rates</h3>
            <h4>11.00%</h4>
            <p>
              We provide an excellent service for all types of loans in
              ahmedabad and offer service, advice and direction.
            </p>
          </div>
        </div>
      </div>

      <div class="container2">
        <h2>Find Loan Products We Offers</h2>
        <div class="p">
          We will match you with a loan program that meet your financial need.
          In short term liquidity, by striving to make funds available to them
          within 24 hours of application.
        </div>
        <div class="loan_products">
          <div class="l1">
            <img src="/assets/img/eduction.png" />
            <h3>Eduction Loan</h3>
            <p>
              Consectetuer adipiscing elmodo ligula eget dolor ociis natoque sit
              amet le polo konsog.
            </p>
            <a href="#">Read More</a>
          </div>
          <div class="l1">
            <img src="/assets/img/business.png" />
            <h3>Business Loan</h3>
            <p>
              Consectetuer adipiscing elmodo ligula eget dolor ociis natoque sit
              amet le polo konsog.
            </p>
            <a href="#">Read More</a>
          </div>
          <div class="l1">
            <img src="/assets/img/home.png" />
            <h3>Home Loan</h3>
            <p>
              Consectetuer adipiscing elmodo ligula eget dolor ociis natoque sit
              amet le polo konsog.
            </p>
            <a href="#">Read More</a>
          </div>
        </div>
      </div>

      <div class="container3">
        <h2>We are Here to Help You</h2>
        <div class="p">
          Nulla rutrum tellus vel mauris tristique gravida in vulputate velit.
          Nulla dictum porttitor diam, ut molestie lorem mattis.
        </div>
        <div class="help">
          <div class="h1">
            <img src="/assets/img/calender.png" />
            <h3>APPLY FOR LOAN</h3>
            <p>Looking to buy a car or home loan? then apply for loan now.</p>
            <a href="#">Get Appointment</a>
          </div>
          <div class="h1">
            <img src="/assets/img/call.png" />
            <h3>CALL US AT</h3>
            <h4>800-123-456 / 789</h4>
            <p>lnfo@advisor.com</p>
            <a href="#">Contact us</a>
          </div>
          <div class="h2">
            <img src="/assets/img/users.png" />
            <h3>TALK TO ADVISOR</h3>
            <p>Need to loan advise? Talk to our Loan advisors.</p>
            <a href="#">Meet The Advisor</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
