<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <app-navbar></app-navbar>
    <div class="maincontainer">
      <div class="container1">
        <div class="bg">
          <span>Credit Card</span>
        </div>
      </div>

      <div class="container2">
        <span>Card Features and Benefits</span>
        <div class="row">
          <div class="f">
            <div class="shape"><img src="/assets/img/f1.png" /></div>
            <h3>Rewards</h3>
            <p>Proin sed felis ultrices, tristique eros eu, accumsan justo.</p>
          </div>
          <div class="f">
            <div class="shape"><img src="/assets/img/f2.png" /></div>
            <h3>Cash Back</h3>
            <p>Proin sed felis ultrices, tristique eros eu, accumsan justo.</p>
          </div>
          <div class="f">
            <div class="shape"><img src="/assets/img/f3.png" /></div>
            <h3>Balance Transfer</h3>
            <p>Proin sed felis ultrices, tristique eros eu, accumsan justo.</p>
          </div>
        </div>
        <div class="row">
          <div class="f">
            <div class="shape"><img src="/assets/img/f4.png" /></div>
            <h3>Travel</h3>
            <p>Proin sed felis ultrices, tristique eros eu, accumsan justo.</p>
          </div>
          <div class="f">
            <div class="shape"><img src="/assets/img/f5.png" /></div>
            <h3>Zero Percent</h3>
            <p>Proin sed felis ultrices, tristique eros eu, accumsan justo.</p>
          </div>
          <div class="f">
            <div class="shape"><img src="/assets/img/f6.png" /></div>
            <h3>Low Interest</h3>
            <p>Proin sed felis ultrices, tristique eros .</p>
          </div>
        </div>
      </div>

      <div class="container3">
        <p>OUR CREDIT CARD</p>
        <h2>Credit Cards We Provide</h2>
        <div class="row">
          <div class="c1">
            <div class="card">
              <div class="icon">
                <img src="/assets/img/chip.png" class="chip" />
                <p>Bank name</p>
              </div>
              <div class="data">
                <span class="name">Card Number</span>
                <span class="no">8596 5263 8796 4586</span>
              </div>
              <div class="info">
                <span class="name">Name Surname</span>
                <div class="date">
                  <span class="val">Val Thu</span>
                  <span class="no">5/26</span>
                </div>
              </div>
            </div>
            <h3>Visa Platinum Card</h3>
            <p>
              A Visa Platinum Card is a premium credit card that offers
              exclusive benefits and perks to its cardholders. These cards
              typically have higher credit limits
            </p>
            <button>Apply For Card</button>
          </div>
          <div class="c2">
            <div class="card">
              <div class="icon">
                <img src="/assets/img/chip.png" class="chip" />
                <p>Bank name</p>
              </div>
              <div class="data">
                <span class="name">Card Number</span>
                <span class="no">8596 5263 8796 4586</span>
              </div>
              <div class="info">
                <span class="name">Name Surname</span>
                <div class="date">
                  <span class="val">Val Thu</span>
                  <span class="no">5/26</span>
                </div>
              </div>
            </div>
            <h3>Visa Gold Card</h3>
            <p>
              A Visa Platinum Card is a premium credit card that offers
              exclusive benefits and perks to its cardholders. These cards
              typically have higher credit limits
            </p>
            <button>Apply For Card</button>
          </div>
          <div class="c3">
            <div class="card">
              <div class="icon">
                <img src="/assets/img/chip.png" class="chip" />
                <p>Bank name</p>
              </div>
              <div class="data">
                <span class="name">Card Number</span>
                <span class="no">8596 5263 8796 4586</span>
              </div>
              <div class="info">
                <span class="name">Name Surname</span>
                <div class="date">
                  <span class="val">Val Thu</span>
                  <span class="no">5/26</span>
                </div>
              </div>
            </div>
            <h3>Visa classNameic Card</h3>
            <p>
              A Visa Platinum Card is a premium credit card that offers
              exclusive benefits and perks to its cardholders. These cards
              typically have higher credit limits
            </p>
            <button>Apply For Card</button>
          </div>
        </div>
        <div class="row">
          <div class="c4">
            <div class="card">
              <div class="icon">
                <img src="/assets/img/chip.png" class="chip" />
                <p>Bank name</p>
              </div>
              <div class="data">
                <span class="name">Card Number</span>
                <span class="no">8596 5263 8796 4586</span>
              </div>
              <div class="info">
                <span class="name">Name Surname</span>
                <div class="date">
                  <span class="val">Val Thu</span>
                  <span class="no">5/26</span>
                </div>
              </div>
            </div>
            <h3>Titanium Mastercard</h3>
            <p>
              A Visa Platinum Card is a premium credit card that offers
              exclusive benefits and perks to its cardholders. These cards
              typically have higher credit limits
            </p>
            <button>Apply For Card</button>
          </div>
          <div class="c5">
            <div class="card">
              <div class="icon">
                <img src="/assets/img/chip.png" class="chip" />
                <p>Bank name</p>
              </div>
              <div class="data">
                <span class="name">Card Number</span>
                <span class="no">8596 5263 8796 4586</span>
              </div>
              <div class="info">
                <span class="name">Name Surname</span>
                <div class="date">
                  <span class="val">Val Thu</span>
                  <span class="no">5/26</span>
                </div>
              </div>
            </div>
            <h3>Titanium Mastercard</h3>
            <p>
              A Visa Platinum Card is a premium credit card that offers
              exclusive benefits and perks to its cardholders. These cards
              typically have higher credit limits
            </p>
            <button>Apply For Card</button>
          </div>
          <div class="c6">
            <div class="card">
              <div class="icon">
                <img src="/assets/img/chip.png" class="chip" />
                <p>Bank name</p>
              </div>
              <div class="data">
                <span class="name">Card Number</span>
                <span class="no">8596 5263 8796 4586</span>
              </div>
              <div class="info">
                <span class="name">Name Surname</span>
                <div class="date">
                  <span class="val">Val Thu</span>
                  <span class="no">5/26</span>
                </div>
              </div>
            </div>
            <h3>Express Card</h3>
            <p>
              A Visa Platinum Card is a premium credit card that offers
              exclusive benefits and perks to its cardholders. These cards
              typically have higher credit limits
            </p>
            <button>Apply For Card</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
